<%- layout("layouts/boilerplate") %>
    <p>Success! Signed you up</p>
    <a href="/" class="btn btn-primary">Back to Home</a>
    <a href="/sign-up" class="btn btn-secondary">Submit another response</a>