<%- layout("layouts/boilerplate") %>
    <h1 class="text-center">Chess Club</h1>

    <h2>Gold Tier</h2>
    <ul>
        <li><i>Your business name goes here with a link to your business's website</i></li>
    </ul>
    <h2>Silver Tier</h2>
    <h2>Bronze Tier</h2>