.hidden {
    display: none;
}

.event-card {
    width: 30%;
    margin-bottom: 1.5rem;
}

#allEventsContainer {
    gap: 5%;
}

@media(max-width: 992px) {
    .event-card {
        width: 45%;
    }
    #allEventsContainer {
        gap: 10%;
    }
}

@media(max-width: 768px) {
    .event-card {
        width: 100%;
    }
}